@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    header{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 50px;
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 90%;
        margin: auto;
        nav{
            display: inline-block;
            a{
                margin: 0 15px;
                color: white;
                text-decoration: none;
                font-size: .9rem;
            }
        }
    }
    .carousel{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin-top: -50px;
        position: relative;
        .list{
            .item{
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0 0 0 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .content{
                    position: absolute;
                    top: 8%;
                    width: 1140px;
                    max-width: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                    box-sizing: border-box;
                    color: white;
                    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    .author{
                        font-weight: bold;
                        font-size: 1.1rem;
                        &:nth-child(1){
                            animation-delay: 1.2s !important;
                        }
                    }
                    .title{
                        font-weight: bold;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: rgb(0, 242, 109);
                        &:nth-child(1){
                            animation-delay: 1.4s !important;
                        }
                    }
                    .des{
                        font-size: .9rem;
                        margin: 10px 0;
                        max-width: 400px;
                        &:nth-child(1){
                            animation-delay: 1.6s !important;
                        }
                    }
                    .buttons{
                        display: grid;
                        grid-template-columns: repeat(2, 130px);
                        grid-template-rows: 40px;
                        gap: 5px;
                        margin-top: 20px;
                        &:nth-child(1){
                            animation-delay: 1.8s !important;
                        }
                        button{
                            border: none;
                            border-radius: 5px;
                            background-color: white;
                            font-weight: 500;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-size: 1rem;
                            cursor: pointer;
                            &:active{
                                background-color: rgb(0, 242, 109);
                            }
                            &:nth-child(2){
                                background-color: transparent;
                                border: 1px solid white;
                                color: white;
                                a{
                                    color: white;
                                }
                                &:active{
                                    background-color: rgb(0, 242, 109);
                                }
                            }
                            a{
                            text-decoration: none;
                            color: black;
                            }
                        }
                    }
                }
                &:nth-child(1){
                    z-index: 1;
                    .content{
                        opacity: 1;
                        .author, .title, .des, .buttons{
                            transform: translateY(50px);
                            filter: blur(20px);
                            opacity: 0;
                            animation: showContent 0.5s 1s linear 1 forwards;
                        }
                    }
                }
            }
        }
        .thumbnail{
            position: absolute;
            bottom: 20px;
            left: 50%;
            width: max-content;
            z-index: 10;
            display: flex;
            gap: 20px;
            .item{
                width: 150px;
                height: 220px;
                flex-shrink: 0;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                }
                .content{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    right: 10px;
                    .title{
                        font-weight: bold;
                        color: white;
                        font-size: .85rem;
                    }
                    .des{
                        color: white;
                        font-size: .8rem;
                    }
                }
            }
        }
        .arrows{
            position: absolute;
            top: 83%;
            right: 55%;
            max-width: 30%;
            display: flex;
            gap: 10px;
            align-items: center;
            z-index: 11;
            button{
                width: 40px;
                height: 40px;
                border-radius: 58%;
                background-color: rgba(128, 128, 128, 0.497);
                border: none;
                font-family: monospace;
                color: white;
                font-weight: bold;
                font-size: large;
                transition: .5s;
                &:hover{
                    background: rgba(255, 255, 255, 0.79);
                    color: gray;
                }
            }
        }
        .time{
            width: 0%;
            height: 3px;
            background-color: rgb(0, 242, 109);
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
        }
    }
    .next{
        .list{
            .item{
                &:nth-child(1){
                    img{
                        width: 150px;
                        height: 220px;
                        position: absolute;
                        left: 50%;
                        bottom: 50px;
                        border-radius: 30px;
                        animation: showImage .5s linear 1 forwards;
                    }
                }
            }
        }
        .thumbnail{
            transform: translateX(150px);
            animation: transformThumbnail .5s linear 1 forwards;
            .item{
                &:nth-last-child(1){
                    overflow: hidden;
                    width: 0;
                    animation: showThumbnail .5s linear 1 forwards;
                }
            }
        }
        .time{
            width: 100%;
            animation: timeRunning .5s linear 1 forwards;
        }
    }
    .prev{
        .list{
            .item{
                &:nth-child(2){
                    z-index: 2;
                    img{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        animation: outImage .5s linear 1 forwards;
                    }
                }
                &:nth-child(2) .author .title .des .buttons{
                    animation: contentOut 1.5s linear 1 forwards !important;
                }
            }
        }
        .thumbnail{
            transform: translateX(-150px);
            animation: transformThumbnail .5s linear 1 forwards;
            .item{
                &:nth-child(1){
                    overflow: hidden;
                    opacity: 0;
                    animation: showThumbnail .1s linear 1 forwards;
                }
            }
        }
        .time{
            width: 100%;
            animation: timeRunning .5s linear 1 forwards;
        }
    }
    footer{
        width: 100%;
        position: fixed;
        z-index: 99;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p{
            color: white;
            font-size: .6rem;
            text-transform: capitalize;
            margin: 0 10px;
            a{
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }
    }
    .kontakt{
        position: absolute;
        margin-top: -50px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(30%);
        }
        .kk{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 50px 0;
            .k-1{
                background-color: rgba(194, 194, 194, 0.681);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .k-1-1{
                    margin: 10px;
                    h1{
                        color: white;
                        font-size: 1rem;
                    }
                    h2{
                        font-size: 1.3rem;
                        text-transform: capitalize;
                    }
                }
                .k-1-2{
                    margin: 10px;
                    h3{
                        font-size: 1.2rem;
                        text-transform: capitalize;
                    }
                    .k-1-2-a{
                        display: flex;
                        flex-direction: row;
                        i{
                            font-size: 1.5rem;
                            margin: 0 12px 0 5px;
                        }
                        .k-b{
                            p{
                                font-size: .9rem;
                                span{
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .k-1-2-b{
                        display: flex;
                        flex-direction: row;
                        i{
                            font-size: 1.5rem;
                            margin-right: 10px;
                        }
                        .k-b{
                            p{
                                font-size: .9rem;
                                span{
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .k-1-2-k{
                        h4{
                            text-transform: capitalize;
                        }
                        p{
                            display: flex;
                            align-items: center;
                            font-size: .9rem;
                            i{
                                font-size: 2rem;
                                margin-right: 10px;
                            }
                        }
                    }

                }
            }
            .k-2{
                width: 100%;
                height: 300px;
                margin: 20px 0;
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .info{
        margin-top: -50px;
        height: 4300px;
        overflow: hidden;
        background: linear-gradient(to right, rgba(7, 7, 7, 0.805), rgba(5, 5, 5, 0.797)), url(file/img/pexels-pixabay-220182.jpg);
        background-repeat: repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .info-1{
            padding-top: 110px;
            color: white;
            margin: 0 20px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
            h5{
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: center;
            }
            ul{
                list-style-type: none;
                background-color: rgba(128, 128, 128, 0.407);
                max-width: 500px;
                li{
                    border: 1px solid white;
                    border-bottom: none;
                    padding: 5px;
                    transition: 1s ease-in-out;
                    &:last-child{
                        border-bottom: 1px solid;
                    }
                    p{
                        font-size: .8rem;
                        text-transform: capitalize;
                        span{
                            font-size: .8rem;
                            font-weight: bold;
                        }
                    }
                    span{
                        font-size: .9rem;
                        font-weight: bold;
                    }
                    &:hover{
                        background-color: rgba(0, 242, 109, 0.327);
                        transition: 1s ease-in-out;
                        span{
                            color: rgb(255, 166, 0);
                        }
                    }
                }
            }
        }
        .info-2{
            margin-top: 150px !important;
            height: auto;
            color: white;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
            h5{
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: center;
            }
            ul{
                list-style-type: none;
                background-color: rgba(128, 128, 128, 0.407);
                max-width: 500px;
                li{
                    border: 1px solid white;
                    border-bottom: none;
                    padding: 5px;
                    transition: 1s ease-in-out;
                    &:last-child{
                        border-bottom: 1px solid;
                    }
                    p{
                        font-size: .8rem;
                        text-transform: capitalize;
                        span{
                            font-size: .8rem;
                            font-weight: bold;
                        }
                    }
                    span{
                        font-size: .9rem;
                        font-weight: bold;
                    }
                    &:hover{
                        background-color: rgba(0, 242, 109, 0.327);
                        transition: 1s ease-in-out;
                        span{
                            color: rgb(255, 166, 0);
                        }
                    }
                }
            }
        }
        .info-3{
            margin-top: 150px !important;
            height: auto;
            color: white;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
            h5{
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: center;
            }
            ul{
                list-style-type: none;
                background-color: rgba(128, 128, 128, 0.407);
                li{
                    border: 1px solid white;
                    border-bottom: none;
                    padding: 5px;
                    transition: 1s ease-in-out;
                    &:last-child{
                        border-bottom: 1px solid;
                    }
                    p{
                        font-size: .8rem;
                        text-transform: capitalize;
                        span{
                            font-size: .8rem;
                            font-weight: bold;
                        }
                    }
                    span{
                        font-size: .9rem;
                        font-weight: bold;
                    }
                    &:hover{
                        background-color: rgba(0, 242, 109, 0.327);
                        transition: 1s ease-in-out;
                        span{
                            color: rgb(255, 166, 0);
                        }
                    }
                }
            }
        }
        .info-4{
            margin-top: 150px !important;
            height: auto;
            color: white;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
            h5{
                font-size: 1.6rem;
                text-transform: uppercase;
                text-align: center;
            }
            ul{
                list-style-type: none;
                background-color: rgba(128, 128, 128, 0.407);
                li{
                    border: 1px solid white;
                    border-bottom: none;
                    padding: 5px;
                    transition: 1s ease-in-out;
                    &:last-child{
                        border-bottom: 1px solid;
                    }
                    p{
                        font-size: .8rem;
                        text-transform: capitalize;
                        span{
                            font-size: .8rem;
                            font-weight: bold;
                        }
                    }
                    span{
                        font-size: .9rem;
                        font-weight: bold;
                    }
                    &:hover{
                        background-color: rgba(0, 242, 109, 0.327);
                        transition: 1s ease-in-out;
                        span{
                            color: rgb(255, 166, 0);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {
    body{
        header{
            max-width: 88%;
        }
        .carousel{
            .list{
                .item{
                    .content{
                        max-width: 80%;
                        left: 48%;
                    }
                }
                .arrows{
                    max-width: 30%;
                }
            }
        }
        .info{
            height: 4150px;
        }
    }
}

@media (min-width: 425px) {
    body{
        .carousel{
            .list{
                .item{
                    .content{
                        top: 10%;
                        .author{
                            font-size: 1.6rem;
                        }
                        .title{
                            font-size: 2.2rem;
                            line-height: 40px;
                        }
                        .des{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .info{
            height: 4050px;
        }
    }
}
@media (min-width: 470px) {
    body{
        .info{
            height: 3850px;
        }
    }
}

@media (min-width: 768px) {
    body{
        header{
            max-width: 86%;
        }
        .carousel{
            .list{
                .item{
                    .content{
                        top: 15%;
                        .author{
                            font-size: 1.6rem;
                        }
                        .title{
                            font-size: 3.5rem;
                            line-height: 60px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
        .kontakt{
            .kk{
                flex-direction: row;
                width: 90%;
                max-width: 1180px;
                margin: 50px 0;
                .k-1{
                    width: 35%;
                    height: 400px;
                    justify-content: center;
                    align-items: center;
                    .k-1-1{
                        margin-right: auto;
                    }
                }
                .k-2{
                    width: 65%;
                    height: 400px;
                }
            }
        }
    }
}

@media (min-width: 990px) {
    body{
        .kontakt{
            .kk{
                .k-1{
                    .k-1-1{
                        margin-right: 0;
                        width: 335px;
                    }
                }
                .k-2{
                    height: 400px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    body{
        header{
            max-width: 1220px;
        }
        .carousel{
            .list{
                .item{
                    .content{
                        top: 15%;
                    }
                }
            }
        }
    }
}

@keyframes outImage {
    to{
        width: 150px;
        height: 220px;
        border-radius: 30px;
        left: 50%;
        bottom: 50px;
    }
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

@keyframes showThumbnail {
    to{
        width: 150px;
        opacity: 1;
    }
}

@keyframes transformThumbnail {
    to{
        transform: translateX(0);
    }
}

@keyframes outImage {
    to{
        width: 150px;
        height: 220px;
        border-radius: 30px;
        left: 50%;
        bottom: 20px;
    }
}

@keyframes contentOut {
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@keyframes timeRunning {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}